img { 
 	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
      }

body {
    font-family: 'Jacques Francois', serif;
}
#textOverlay {
    position:absolute;
    top:50px;
    background-color:#fff;
    left: 5px;
    -webkit-user-select: none; /* Chrome/Safari */
    cursor:'pointer';
    pointer-events: none;
}
/*
img { 
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222); 
}
*/
