img { 
 	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
      }

body {
    font-family: 'Jacques Francois', serif;
}
#textOverlay {
    position:absolute;
    top:50px;
    
    background-color:#fff;
    left: 15px;
    -webkit-user-select: none; 
    cursor:'pointer';
    pointer-events: none;
}
#container{
    /*z-index:-1000;*/
    
    width:800px;
    height:600px;
    padding:10px;
    margin:10px 0 0;
    position:relative
        overflow:hidden;
}

/*
img { 
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222); 
}
*/
